//$lamp-size = 50px

lamp-size(width, height = width)
  width width
  height height

.traffic-light
  width 100%
  border 1px solid red
  margin 50px auto
  &-root
    max-width 50px
    padding 20px
//  max-height 900px

.lamp
  border 1px solid black
  border-radius 50%
  margin-bottom 5px
  lamp-size(50px)
  /*
  height $lamp-size
  width $lamp-size
  */

.red-light
  background red

.yellow-light
  background yellow

.green-light
  background green

.shines
  opacity 1

.not-shine
  opacity 0.1

