.traffic-light
  width 100%
  border 1px solid red
  margin 50px auto


.traffic-light-root
  max-width 50px
  padding 20px
//  max-height 900px

.lamp
  border 1px solid black
  border-radius 50%
  height 50px
  width 50px
  margin-bottom 5px
  /*
  &:hover
    background white
  */

/*
.red-light:hover
  background red

.yellow-light:hover
  background yellow

.green-light:hover
  background green
*/

